@use './leaflet';

.__apm_map {
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;

    &_theater {
        width: 100dvw;
        height: 100dvh;
    }

    &_light {
        --map-text: #000;
        --map-ui-fill: #fffd;
        --map-daynight-fill: #000;
    }

    &_dark {
        --map-text: #fff;
        --map-ui-fill: #000d;
        --map-daynight-fill: #446;
    }

    &__layer {

        &__day_night {
            stroke-width: 0;
            fill: var( --map-daynight-fill );
            fill-opacity: 0.3;
        }

    }

    &__ui {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 90;

        &_control {
            position: absolute;
            line-height: 22px;
            font-size: 10px;
            background: var( --map-ui-fill );
            border-radius: 4px;
            box-shadow: 0 0 6px -4px rgba( 0 0 0 / 0.2 );
        }

        &_attribution, &_state {
            bottom: 12px;
            height: 22px;
            padding: 0 8px;
        }

        &_attribution {
            right: 12px;

            a:hover {
                text-decoration: underline;
            }

        }

        &_state {
            left: 12px;

            span {
                position: relative;
                display: inline-block;
                height: 7px;
                border-left: 1px solid var( --map-text );
                border-right: 1px solid var( --map-text );

                &::after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 0;
                    right: 0;
                    height: 1px;
                    margin: 0 6px;
                    background: var( --map-text );
                }

            }

        }

    }

}
